# Application Information
VITE_APP_NAME=Performance Management AI
VITE_APP_FULL_NAME=Implementasi Generative AI Berbasis Natural Language Generation untuk Otomatisasi Analisis dan Rekomendasi Performance Management pada Human Capital Management
VITE_APP_DESCRIPTION=Implementasi Generative AI Berbasis Natural Language Generation untuk Otomatisasi Analisis dan Rekomendasi Performance Management pada Human Capital Management
VITE_API_BASE_URL=http://127.0.0.1:8000/api/
# Nama untuk sapaan di Home (opsional, default: Karyawan)
VITE_USER_NAME=Karyawan